#App
PORT=3000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://localhost:27019/file-central

#JWT
JWT_SECRET=super-secret
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN_DAYS=30

# MinIO
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=file-central

# Upload limits
MAX_UPLOAD_SIZE_MB=200

PUBLIC_BASE_URL=http://localhost:3000
