.centeredRow {
  display: flex;
}

.centeredRow-1 {
  flex: 1;
}

.centeredRow-col {
  flex-direction: column;
}

.centeredRow-wrap {
  flex-wrap: wrap;
}

.centeredRow {
  min-height: 20rem;
}

.centeredRow {
  align-items: center;
}

.centeredRow {
  justify-content: center;
}

.centeredRow {
  padding-inline: 1.5rem;
}

.centeredRow {
  text-align: center;
}

.paragraph {
  margin-bottom: 0;
}

.paragraph\! {
  margin-bottom: 0 !important;
}

.paragraph {
  margin-top: 0.25rem;
}

.paragraph0 {
  margin-top: 2.5rem;
}

.paragraph {
  max-width: 24rem;
}
