.icon {
  width: 1rem;
  height: 1rem;
}

.icon0 {
  width: 10rem;
  height: 10rem;
}

.icon2 {
  width: 1rem;
  height: 1rem;
}

.icon20 {
  width: 10rem;
  height: 10rem;
}

.icon3 {
  width: 1rem;
  height: 1rem;
}

.icon30 {
  width: 10rem;
  height: 10rem;
}

.icon4 {
  width: 1rem;
  height: 1rem;
}

.icon40 {
  width: 10rem;
  height: 10rem;
}

.icon5 {
  width: 1rem;
  height: 1rem;
}

.icon50 {
  width: 10rem;
  height: 10rem;
}

.icon6 {
  width: 1rem;
  height: 1rem;
}

.icon60 {
  width: 10rem;
  height: 10rem;
}
